
body {
    margin: 0;
    padding: 25px;
  }
  

#top-container {
    border: solid black 2px;
    height: 200px;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    padding: 12px 10px;
    box-sizing: border-box;
}

#purple-box {
    background: #9900cc;
    height: 110px; 
    width: 33px;
    margin-top: 48px;
    display: inline-block;
    margin-left: 2px;
    margin-right: 23px;
}

#green-box {
    background-color: green;
    width: 350px;
    height: 180px;
    display: inline-block;
    margin-right: 43px;
    margin-bottom:;
}

#blue-circle {
    background-color: #80d4ff;
    height: 176px;
    width: 176px;
    border-radius: 50%;
    display: inline-block;
}

.mid-container {
    border: dotted black 5px;
    height: 250px;
    width: 90%;
    margin: auto;
    margin-top: 50px;
}

#cream-box {
    background-color: #ffffcc;
    height: 130px;
    width: 80%;
    margin-top: 60px;
    margin-left: 130px;
    box-shadow: 10px 5px 5px black;
}

.bottom-container {
    border: solid black 1px;
    height: 250px;
    width: 60%;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
    margin-top: 50px;

}

#greetings {
    font-size: 30px;
    font-weight: bold;
    color: navy;
    height: 50px;
    text-align: center;
    padding-top: 73px;
}