#top-box{
  background-color: #595959;
  height: 10vh;
  width: 100vw;
  position: top;
  
}
 
 #middle{
   background-color: white;
   height: 82vh;
   width: 500px;
   margin: 0 auto;
   
   
 } 
 
#background{
  background-color: lightgray;
  height: 100vh;
  width: 100vw;
  
}

 #black-box {
  background-color: black;
  height: 8vh;
  width: 500px; 
  margin: 0 auto;
  

   
 }
 





